__pycache__
doc/*/*.aux
doc/*/*.bbl
doc/*/*.bcf
doc/*/*.blg
doc/*/*.dep
doc/*/*.log
doc/*/*.run.xml
doc/*/*.synctex.gz
doc/whitepaper/research
doc/presentation/images/*.shape
doc/presentation/images/network.png
doc/presentation/images/identity.svg
doc/presentation/images/reputation.svg
doc/presentation/images/language.svg
doc/presentation/images/negotiation.svg
doc/presentation/images/optimization.svg
doc/presentation/images/prioritization.svg
