[submodule "src/c/autonomous_trust/network/dtn/ION-DTN"]
	path = src/c/third_party/ION-DTN
	url = https://github.com/nasa-jpl/ION-DTN.git
	ignore = dirty
[submodule "src/c/autonomous_trust/network/dtn/ud3tn"]
	path = src/c/third_party/ud3tn
	url = https://gitlab.com/d3tn/ud3tn.git
	ignore = dirty
[submodule "src/c/third_party/ryu"]
	path = src/c/third_party/ryu
	url = https://github.com/ulfjack/ryu.git
