__pycache__
doc/*/*.aux
doc/*/*.bbl
doc/*/*.bcf
doc/*/*.blg
doc/*/*.dep
doc/*/*.log
doc/*/*.run.xml
doc/*/*.synctex.gz
doc/whitepaper/research
doc/presentation/images/file.shape
doc/presentation/images/file.png
doc/presentation/images/spreadsheet.shape
doc/presentation/images/spreadsheet.png
doc/presentation/images/demon.shape
doc/presentation/images/demon.png
doc/presentation/images/devil.shape
doc/presentation/images/devil.png
doc/presentation/images/police.shape
doc/presentation/images/police.png
doc/presentation/images/smiley.shape
doc/presentation/images/smiley.png
doc/presentation/images/neutral.shape
doc/presentation/images/neutral.png
doc/presentation/images/upset.shape
doc/presentation/images/upset.png
doc/presentation/images/network.png
doc/presentation/images/identity.svg
doc/presentation/images/reputation.svg
doc/presentation/images/language.svg
doc/presentation/images/negotiation.svg
doc/presentation/images/optimization.svg
